%div{ class: "message #{ message.image? ? 'has-image' : '' } #{ message.orientation }" }><
  .message-image= image_tag message.image if message.image?
  .message-sender
    %h1.sender-name= "#{ message.sender.name }:"
    .sender-image= image_tag message.sender.avatar
  .message-content
    %p.message-body= message.body
    %p.message-location= "#{ message.created_at.localtime.to_s :normal } #{ message.location }"
